nav a {
    width: 100%;
    height: var(--navHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    background-color: var(--highlightColor);
}