header a {
    display: flex;
    justify-content: center;
}

header a:hover {
    background-color: var(--standardBackgroundColor);
}

header a:hover .icon-svg {
    stroke: var(--standardIconStrokeHoverColor);
    fill: var(--standardIconFillHoverColor);
}