.projects-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
}

.projects-h2-container {
    position: absolute;
    top: calc(var(--headerHeight) - var(--headerBorderBottom));
    width: var(--mobileWith);
    height: var(--headerHeight);
    text-align: center;
    align-content: center;
    background-color: var(--standardBackgroundColor);
    z-index: 1;
}

.project-card-list {
    align-self: center;
    width: 80%;
    margin: 0;
    padding-block: calc(var(--headerHeight) + 0.5rem);
    z-index: 0;
}

.projects-link-container {
    position: absolute;
    bottom: calc(var(--navHeight));
    width: var(--mobileWith);
    height: var(--headerHeight);
    text-align: center;
    background-color: var(--standardBackgroundColor);
    z-index: 1;
}