.project-card-content {
    max-height: 9rem;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.project-card-content.show {
    max-height: 1000px;

}

.project-card {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--highlightColor);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

    &:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3) !important;
    }
}

.project-name-and-edit-icon {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}
.project-name-and-edit-icon h3 {
    grid-column: 2;
    margin: 5px;
    align-self: center;
}
.project-name-and-edit-icon a {
    grid-column: 3;
    display: flex;
    align-content: center;
}

.project-card-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
}