.landing-page-container {
    position: absolute;
    top: 0;
    height: var(--mobileHeight);
    width: var(--mobileWidth);
    display: flex;
    justify-content: center;
}

.movieTheater-image {
    position: absolute;
    top: 0;
    height: var(--mobileHeight);
    width: var(--mobileWidth);
    display: flex;
    justify-content: center;
    align-items: center;
}

.horseAnimation-text {
    position: absolute;
    top: calc(var(--mobileHeight) * 0.07);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: var(--highlightColor);
}

.horseAnimation-text:hover {
    background-color: transparent;
!important;
}

.horseAnimation-text-blur {
    width: fit-content;
    backdrop-filter: blur(5px);
    border-radius: 30px;
}

.horseAnimation {
    position: absolute;
    top: calc(var(--mobileHeight) * 0.29);
    width: calc(var(--mobileWidth) * 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.horseAnimation:hover {
    background-color: transparent;
!important;
}

.loadingAnimation {
    opacity: 0;
    position: absolute;
    top: calc(var(--mobileHeight) * 0.6);
    width: var(--mobileWidth) px;
}

.loadingAnimation.show {
    opacity: 1;
    position: absolute;
    top: calc(var(--mobileHeight) * 0.6);
    width: var(--mobileWidth) px;
}

.google-login-button-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: calc(var(--mobileHeight) * 0.728);
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}
.google-login-button-container.show {
    opacity: 1;
    position: absolute;
    top: calc(var(--mobileHeight) * 0.728);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent !important;
    z-index: 1;
}
.google-login-button-container.show .a {

}

