:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --htmlBackgroundColor: #575757;
    --standardBackgroundColor: #2E4B5A;
    --highlightBackgroundColor: #671D28;

    --standardFondColor: #FDFDF1;
    --standardHoverFondColor: #8e8d8d;
    --standardButtonBackgroundColor: #671D28;
    --standardButtonHoverBackgroundColor: #682D36;
    --standardButtonShadowColor: #47151D;
    --standardButtonActiveBackgroundColor: #e5e5e5;
    --standardIconStrokeColor: #671D28;
    --standardIconFillHoverColor: #325062;
    --standardIconStrokeHoverColor: #634145;
}

html {
    background-color: var(--htmlBackgroundColor);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#__next {
    height: 100%;
    max-height: 932px;
    display: grid;
    grid-template-areas:
    "header"
    "main";
    "nav"
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

}

main {
    grid-area: main;
    max-width: 430px;
    min-height: 600px;
    overflow: auto;
    background-color: var(--standardBackgroundColor);
    color: var(--standardFondColor);
}

h1, h2 {
    margin: 5px;
    font-weight: bold;
}

p {
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: var(--standardFondColor);
}

a:hover {
    background-color: var(--standardButtonHoverBackgroundColor);
    cursor: pointer;
}

button, .link-as-button {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: var(--highlightBackgroundColor);
    color: var(--standardFondColor);
    box-shadow: 2px 2px 3px var(--standardButtonShadowColor), inset 0 0 5px #A04250;

    &:hover {
        cursor: pointer;
        background-color: var(--highlightBackgroundColor);
        box-shadow: 2px 2px 3px var(--standardButtonShadowColor)
    }

    &:active {
        background-color: var(--highlightBackgroundColor);
        box-shadow: 2px 2px 3px var(--standardButtonShadowColor), inset 0 0 3px 2px var(--standardButtonShadowColor);
    }
}
